<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.sakolah.guru.toga_guru">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.Dark">
        <activity android:name=".activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.NilaiActivity" android:theme="@style/MyMaterialTheme" />
        <activity android:name=".activity.SiswaActivity" android:theme="@style/MyMaterialTheme" />
        <activity android:name=".activity.Dashboard" android:theme="@style/MyMaterialTheme" />
        <activity android:name=".activity.JadwalActivity" android:theme="@style/MyMaterialTheme" />
        <activity android:name=".activity.BeritaDetailActivity" android:theme="@style/MyMaterialTheme" />
        <activity android:name=".activity.BeritaActivity" android:theme="@style/MyMaterialTheme" />
        <activity android:name=".activity.PertanyaanActivity" android:theme="@style/MyMaterialTheme" />
        <activity android:name=".TanyaJawabDetail" android:theme="@style/MyMaterialTheme" />
        <activity android:name=".GrupKelas" android:theme="@style/MyMaterialTheme" />
        <activity android:name=".activity.MengajarActivity" android:theme="@style/MyMaterialTheme" />
        <activity android:name=".MainActivity" android:theme="@style/AppTheme" />
    </application>

</manifest>